## SQL Ingestion Pipeline Documentation

Data is populated into the database using the `sqlIngest` package. `sqlIngest` is comprised of a `DataHandler` class with various methods for initializing, importing, and updating data in the SQL database.

### DataHandler

In [1]:
# Adding to python path for one-off relative import
import pandas as pd
import sys
sys.path.append('../server/src/services/')
from sqlIngest import DataHandler

The `DataHandler` object is the central tool in `sqlIngest`. It can be used to load data from Socrata or CSV sources, perform formatting, and write that data back to CSV or into a database instance. It has the following dependencies:

- `pandas` for data handling and manipulation
- `sqlAlchemy` for database operations
- `sodapy` for Socrata operations

In [2]:
# Initialize instance of DataHandler
loader = DataHandler()

It is first necessary to load configuration information from `settings.cfg`. In this tutorial `settings.example.cfg` is specified, but you will need to modify this file and resave it as `settings.cfg`. Include the database connection string and user token for your machine and account respectively.

In [3]:
# Load configuration file
loader.loadConfig(configFilePath='../server/src/settings.example.cfg')
# This initializes several values
print('file path:\t\t%s' % loader.configFilePath)
print('database string:\t%s' % loader.dbString)
print('socrata token:\t\t%s' % loader.token)

Loading config file ../server/src/settings.example.cfg
file path:		../server/src/settings.example.cfg
database string:	postgres://REDACTED:REDACTED@localhost:5432/postgres
socrata token:		None

We are able to fetch data from the City of Los Angeles Socrata data stores by specifying the year we are interested in. Data can be fetched either in small increments specified by paging over the database in multiple queries or fetched as full-year chunks. The recommended page size for Socrata is 1000 entries, but larger page sizes are allowed. Speed will be relative to page size and query size. 

__NOTE:__ For unknown reasons, 2015 data struggles with timeouts during paging.

In [4]:
# Fetch partial dataset from Socrata
# (Need Socrata API key for significant number of queries)
loader.fetchSocrata(year=2019, querySize=1000, pageSize=1000)
loader.data.head()

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

0
1000

/usr/local/lib/python3.7/site-packages/pandas/core/frame.py:7138: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

,actiontaken,address,addressverified,anonymous,apc,approximateaddress,assignto,cd,cdmember,closeddate,...,servicedate,srnumber,status,streetname,suffix,tbmcolumn,tbmpage,tbmrow,updateddate,zipcode
0,SR Created,"746 E 17TH ST, 90021",Y,N,South Los Angeles APC,N,SLA,14,Jose Huizar,2020-01-15T12:52:10.000,...,2019-11-07T00:00:00.000,1-1482933801,Closed,17TH,ST,E,634,7,2020-01-15T12:52:10.000,90021
1,SR Created,"722 E WASHINGTON BLVD, 90021",Y,N,South Los Angeles APC,N,SLA,9,Curren D. Price Jr.,2020-01-15T12:52:03.000,...,2019-12-19T00:00:00.000,1-1513266111,Closed,WASHINGTON,BLVD,E,634,7,2020-01-15T12:52:03.000,90021
2,SR Created,"1702 S SAN PEDRO ST, 90015",Y,N,South Los Angeles APC,,SLA,14,Jose Huizar,2020-01-15T12:51:56.000,...,2019-12-12T00:00:00.000,1-1506102823,Closed,SAN PEDRO,ST,E,634,7,2020-01-15T12:51:56.000,90015
3,SR Created,"706 E 17TH ST, 90021",Y,N,South Los Angeles APC,,SLA,14,Jose Huizar,2020-01-15T12:51:49.000,...,2019-11-29T00:00:00.000,1-1498554081,Closed,17TH,ST,E,634,7,2020-01-15T12:51:49.000,90021
4,SR Created,"MARMION WAY AT FIGUEROA ST, 90042",Y,N,East Los Angeles APC,N,NC,14,Jose Huizar,2020-01-15T12:48:01.000,...,2019-11-27T00:00:00.000,1-1496903631,Closed,,,D,595,2,2020-01-15T12:48:02.000,90042

In [5]:
# Fetch full dataset from Socrata (slow)
loader.fetchSocrataFull(year=2015)
loader.data.head()

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

Downloading 2015 data from Socrata data source...
	Download Complete: 0.6 minutes

,location,zipcode,suffix,:@computed_region_qz3q_ghft,:@computed_region_k96s_3jcv,srnumber,:@computed_region_kqwf_mjcx,updateddate,closeddate,cd,...,direction,anonymous,addressverified,actiontaken,streetname,ncname,apc,tbmpage,servicedate,mobileos
0,"{'latitude': '34.2478180903', 'needs_recoding'...",91042,BLVD,3222,4,1-88226601,1,2016-01-02T14:29:52.000,2016-01-02T14:29:52.000,7,...,W,N,Y,SR Created,FOOTHILL,SUNLAND-TUJUNGA NC,North Valley APC,504,NaN,NaN
1,"{'latitude': '33.9789717768', 'needs_recoding'...",90003,ST,22352,787,1-88226481,13,2015-12-31T20:21:03.000,NaN,9,...,W,N,Y,SR Created,67TH,COMMUNITY AND NEIGHBORS FOR NINTH DISTRICT UNI...,South Los Angeles APC,674,NaN,NaN
2,"{'latitude': '34.1509935991', 'needs_recoding'...",91423,ST,19736,333,1-88226431,7,2016-01-06T09:38:51.000,2016-01-06T09:38:51.000,4,...,W,N,Y,SR Created,MOORPARK,SHERMAN OAKS NC,South Valley APC,562,2016-01-06T00:00:00.000,NaN
3,"{'latitude': '34.0459242166', 'needs_recoding'...",90035,NaN,23666,875,1-88214281,6,2016-01-02T09:04:07.000,2016-01-02T09:04:07.000,5,...,W,N,Y,SR Created,CRESTA,SOUTH ROBERTSON NC,West Los Angeles APC,632,2016-01-02T00:00:00.000,NaN
4,"{'latitude': '34.0459242166', 'needs_recoding'...",90035,DR,23666,875,1-88213271,6,2016-01-02T09:02:10.000,2016-01-02T09:02:11.000,5,...,W,N,Y,SR Created,CRESTA,SOUTH ROBERTSON NC,West Los Angeles APC,632,2016-01-02T00:00:00.000,NaN

Once we have imported the data, we need to perform a cleaning step in order to standardize it for input into the database. This removes columns that we are not interested in tracking and makes sure that data types are correctly formatted for the SQL import.

In [6]:
# Cleaning data for consistency before SQL import
loader.cleanData()
loader.data.head()

Cleaning data...
	column createdbyuserorganization missing - substituting NaN values
	column :@computed_region_qz3q_ghft not in defined set - dropping column
	column :@computed_region_k96s_3jcv not in defined set - dropping column
	column :@computed_region_kqwf_mjcx not in defined set - dropping column
	column :@computed_region_2dna_qi2s not in defined set - dropping column
	column :@computed_region_tatf_ua23 not in defined set - dropping column
	column :@computed_region_ur2y_g4cx not in defined set - dropping column
	Cleaning Complete: 0.0 minutes

,srnumber,createddate,updateddate,actiontaken,owner,requesttype,status,requestsource,createdbyuserorganization,mobileos,...,location,tbmpage,tbmcolumn,tbmrow,apc,cd,cdmember,nc,ncname,policeprecinct
0,1-88226601,2015-12-31 21:59:26,2016-01-02T14:29:52.000,SR Created,BOS,Dead Animal Removal,Closed,Call,NaN,NaN,...,"{'latitude': '34.2478180903', 'needs_recoding'...",504,B,5,North Valley APC,7,Felipe Fuentes,10,SUNLAND-TUJUNGA NC,FOOTHILL
1,1-88226481,2015-12-31 20:15:44,2015-12-31T20:21:03.000,SR Created,BOS,Dead Animal Removal,Cancelled,Call,NaN,NaN,...,"{'latitude': '33.9789717768', 'needs_recoding'...",674,C,7,South Los Angeles APC,9,Curren D. Price Jr.,86,COMMUNITY AND NEIGHBORS FOR NINTH DISTRICT UNI...,NEWTON
2,1-88226431,2015-12-31 20:02:50,2016-01-06T09:38:51.000,SR Created,BOS,Bulky Items,Closed,Call,NaN,NaN,...,"{'latitude': '34.1509935991', 'needs_recoding'...",562,A,4,South Valley APC,4,David Ryu,26,SHERMAN OAKS NC,VAN NUYS
3,1-88214281,2015-12-31 18:59:28,2016-01-02T09:04:07.000,SR Created,BOS,Bulky Items,Closed,Email,NaN,NaN,...,"{'latitude': '34.0459242166', 'needs_recoding'...",632,H,5,West Los Angeles APC,5,NaN,NaN,SOUTH ROBERTSON NC,NaN
4,1-88213271,2015-12-31 18:58:38,2016-01-02T09:02:10.000,SR Created,BOS,Bulky Items,Closed,Email,NaN,NaN,...,"{'latitude': '34.0459242166', 'needs_recoding'...",632,H,5,West Los Angeles APC,5,Paul Koretz,61,SOUTH ROBERTSON NC,WEST LOS ANGELES

After cleaning we can output the data as a CSV file if desired. Since the `loader.data` object is a pandas dataframe, we can also write it out using any of the associated dataframe methods like `.to_csv`.

In [7]:
# Write data out as CSV
loader.saveCsvFile('../../testFile.csv')

Once the data has been cleaned, it is ready for import into the database implementation. By default, the `ingestData` method will use the `ingestMethod='replace'` parameter, which __overwrites the existing staging table in the database__ if you don't desire this functionality, you can specify `ingestMethod='append'`, but be aware that this could lead to duplicate rows and associated errors if used incorrectly.

In [8]:
# Ingest data into database
loader.ingestData(ingestMethod='replace')

Inserting data into Postgres instance...
	Ingest Complete: 0.8 minutes

We are also able to run the full process by using the `populateFullDatabase` method. Be aware that you must still run the initialization and config portions of the script before calling this method. The `yearRange` parameter expects a python `range` object. Keep in mind that the range object uses python indexing, so you will have to add 1 to the endpoint year.

In [9]:
# Run full ingestion pipeline
loader.populateFullDatabase(yearRange=range(2015,2016))

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

Performing fresh Postgres repopulation from Socrata data sources
Downloading 2015 data from Socrata data source...
	Download Complete: 0.3 minutes
Cleaning data...
	column createdbyuserorganization missing - substituting NaN values
	column :@computed_region_qz3q_ghft not in defined set - dropping column
	column :@computed_region_k96s_3jcv not in defined set - dropping column
	column :@computed_region_kqwf_mjcx not in defined set - dropping column
	column :@computed_region_2dna_qi2s not in defined set - dropping column
	column :@computed_region_tatf_ua23 not in defined set - dropping column
	column :@computed_region_ur2y_g4cx not in defined set - dropping column
	Cleaning Complete: 0.0 minutes
Inserting data into Postgres instance...
	Ingest Complete: 0.8 minutes
All Operations Complete: 1.1 minutes